html(lang="ko")
  head
    meta(charset="UTF-8", lang="ko")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/static/css/styles.css")

    title #{ pagetitle } wetube
  body
    main
      header
      h1= pagetitle
      nav
        ul
          li
            a(href="/videos/upload") upload video
            a(href="/search") search video
            a(href="/join") joim

      block content
  include partials/footer.pug
  script(src="/static/js/main.js")
