extends base


block content
    div
        p= errorMessage
    form(method="POST")
        input(name="username", type="text",required, placeholder="username")
        input(name="password", type="password",required, placeholder="password")
        input(type="submit" value="login")

        div
            p 계정이 없다면...
            a(href="/join") 계정생성하기
